<div class="container mt-5">
  <div class="card bg-light border-dark mt-5">
    <h1 class="card-header text-center"><%= @post.title %></h1>
    <div class=" card-body text-center">
      <%= qrcode post_path(@post), 8 %>
    </div>
  </div>
</div>