<div class="modal fade" id="deleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto" id="deleteModalLabel">本当に削除しますか？</h5>
      </div>
      <div class="modal-body">
        <div class="card bg-light border-dark mt-5">
          <div class="card-body text-center">
            本当に投稿を削除してよろしいですか？
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">やめる</button>
        <%= link_to "削除する", post_path(post), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>