<div class="row d-flex">
  <div class="col-12">
    <div class="card bg-dark text-light">
      <img src="assets/art.jpg" class="card-img" style="height: 400px; object-fit: cover;">
      <div class="card-img-overlay text-center text-light">
        <div class="mainvisual-text mb-3">
          <h5 class="card-title">フォッチャーへようこそ</h5>
          <p class="card-text">イラストや写真を投稿しよう！！</p>
          <p class="card-text">使わせてもらったイラストや写真の投稿主にありがとうのコメントを送ろう！</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <%= render "public/posts/genre_list", genres: @genres %>
</div>
<%= render "public/posts/index", posts: @posts %>