<% if post.favorited?(current_user) %>
  <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
  <%= link_to post_favorites_path(post.id), method: :delete, remote: true do %>
    <span style="color:red;">
      <i class="fas fa-heart"></i><%= post.favorites.count %>
    </span>
  <% end %>
<% else %>
  <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
  <%= link_to post_favorites_path(post.id), method: :post, remote: true do %>
    <i class="fas fa-heart"></i><%= post.favorites.count %>
  <% end %>
<% end %>