<div class="container">
  <h2 class="text-center mt-5">会員一覧</h2>
  <table class="table mt-5">
    <thead>
      <tr>
        <th>会員No</th>
        <th>アカウント名</th>
        <th>登録日</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.created_at.to_s(:datetime_jp) %></td>
          <td>
            <% if user.user_status == true %>
              <P class="text-success">有効</P>
            <% else %>
              <P class="text-danger">退会</P>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>