<div class="container">
  <h2 class="text-center mt-5">会員一覧</h2>
  <div class="d-flex justify-content-center mt-3">
    <%= paginate @users, theme: 'bootstrap-5' %>
    <%= render "admin/users/form" %>
  </div>
<%= render "admin/users/index", users: @users %>