<div class="container">
  <h2 class="text-center mt-5">会員検索ワード:<%= @name %></h2>
  <div class="d-flex justify-content-center mt-3">
    <%= render "admin/users/form" %>
  </div>
  <%= render "admin/users/index", users: @users %>
</div>