<footer class="mt-5">
  <div class="bg-dark p-5">
    <div class="container">
      <div class="row">
        <div class="d-flex flex-column">
          <p class="text-light mb-1">お問い合わせ</p>
          <p class="mb-1">
            <a href="mailto:xxxxxxxxx@xxx.com">xxxxxxxxx@xxx.com</a>
    	    </p>
    	    <p class="text-light mb-1">電話番号</p>
    	    <p class="mb-1"><a href="tell:080-0000-0000">080-0000-0000</a></p>
        </div>
        <div class="d-flex align-items-center mx-auto">
          <p class="text-light">© Photure.inc</p>
        </div>
        <div class="d-flex align-items-center text-light">
          <i class="fab fa-twitter mr-2 size"></i>
          <i class="fab fa-facebook-square mr-2 size"></i>
          <i class="fab fa-instagram mr-2 size"></i>
        </div>
      </div>
    </div>
  </div>
</footer>